.logo>img{
height:70px;
width:50px;
}

.navbar{

position: sticky;
top: 0px;
z-index: 10;}

.f3{
justify-content: flex-end;}

.nav-item{
margin-left: 20px;
}

@media screen and (max-width:988px){
    .nav-item{
margin-top: 10px;
margin-left: 0px;}
}

.container{
  position: flex;
flex-wrap: wrap;
padding-bottom: 150px;

}

.fitem1{
position:relative;
top:50px;
}

.fitem2{
background-color: whitesmoke;
position:absolute;
top:90%;
width:90%;
left:5%;
right:5%;
border-radius: 10px;
margin-bottom: 50px;
height:150px;
}

#para{
margin-top:160px;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.bar {
  width: 200px;    
  height: 2px;     
  background-color: #a1cc3a;
  margin-bottom: 10px;
}

li{
List-style:none
 }

footer{
display: flex;
width:100%;
background-color: rgb(135, 133, 136);
justify-content: center;
align-items: center;
}

.para{
margin-left: 20px;}

.p-item{
margin-bottom: 20px;
background-color: rgb(235, 230, 230);
border-radius: 10px;
padding: 10px;
}



